@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.container {
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    font-style: normal;
}

.container h1{
    font-size: 48px;
    font-weight: 800;
}

.container p{
   color: rgb(88, 85, 85);
   font-weight: 600;
}